


<div class="socials">
                <ul>
                  <li><a href="https://www.facebook.com/pages/BuzzyBee/822335197813568?ref=hl" class="facebook"><i class="fa fa-facebook"></i></a></li>
                 <!-- <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li> 
                  <li><a href="#" class="facebook"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a></li>
                  <li><a href="#" class="flickr"><i class="fa fa-flickr"></i></a></li>
                  <li><a href="#" class="tumblr"><i class="fa fa-tumblr"></i></a></li>
                  <li><a href="#" class="gplus"><i class="fa fa-google"></i></a></li>
                  <li><a href="#" class="dribbble"><i class="fa fa-dribbble"></i></a></li>
                  <li><a href="#" class="stumbleupon"><i class="fa fa-stumbleupon"></i></a></li>
                  <li><a href="#" class="spotify"><i class="fa fa-spotify"></i></a></li>
                  <li><a href="#" class="digg"><i class="fa fa-digg"></i></a></li>
                  <li><a href="#" class="behance"><i class="fa fa-behance"></i></a></li>
                  <li><a href="#" class="reddit"><i class="fa fa-reddit"></i></a></li>
                  <li><a href="#" class="wordpress"><i class="fa fa-wordpress"></i></a></li>
                  <li><a href="#" class="deviantart"><i class="fa fa-deviantart"></i></a></li>
                  <li><a href="#" class="delicious"><i class="fa fa-delicious"></i></a></li>
                  <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
                  <li><a href="#" class="camera"><i class="fa fa-camera"></i></a></li> -->
                </ul>
</div>
